.app-content{
  background-color: #eeeeee;
}

md-card-content .label {
  font-weight: bold;
  color: lightgray;
}

md-card{
  margin:5px;
}

md-card-title {
  color: lightblue;
}

.container{
  margin-top:10px;
}
