<div class="app-content">
  <div class="container">
    <div class="row">
      <md-card *ngFor="let park of parks" class="col-md-5">
        <md-card-title>{{park.Name}}</md-card-title>
        <md-card-content>
          <div>
            <div class="label">location</div>
            <div>{{park.City}} - {{park.State}}</div>
          </div>
          <div>
            <div>{{park.Country}}</div>
          </div>
        </md-card-content>
        <md-card-actions>
          <button md-button [routerLink]="['/park',park.ParkID]">see more</button>
        </md-card-actions>
      </md-card>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
